body {
  font-family: "Source Sans Pro", sans-serif;
  color: #1a1c20;
}

li {
  list-style: none;
  display: block;
}

ul {
  padding-left: 0px;
}

h1,
h2,
h3,
a {
  text-align: center;
}

.app {
  max-width: 640px;
  margin: 0 auto;
}

#current-location {
  margin-bottom: 5px;
}

#forecast {
  margin-bottom: 5px;
}

#search {
  margin-bottom: 5px;
}

#city {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#city h1 {
  margin-top: 8px;
}

li:first-letter {
  text-transform: capitalize;
}

#todays-temperature {
  margin: 5px auto;
}

#top-section {
  margin-top: 5px;
  margin-bottom: 5px;
}

#today-title p {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.weekday-high {
  background-color: #cf7500;
  margin-bottom: 0px;
  border-radius: 0px 0px 4px 0px;
}

.weekday-low {
  background-color: #f0a500;
  margin-bottom: 0px;
  border-radius: 0px 4px 0px 0px;
}

.weekday-high p {
  color: #fff;
  margin-bottom: 0px;
}

.weekday-low p {
  color: #fff;
  margin-bottom: 0px;
}

#todays-icon img {
  max-width: 100px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

.weekday-title p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
}

#day-one,
#day-two {
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;
}

#temp-plus-one,
#temp-plus-two {
  color: #fff;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
}

.card {
  max-width: 250px;
}

#celsius-link,
#fahrenheit-link {
  color: #fff;
  text-decoration: none;
}
